apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: accounts
  name: accounts
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: accounts
  type: ClusterIP
  template:
    spec:
      containers:
      - image: IMAGE_NAME_HERE
        name: accounts
status:
  loadBalancer: {}
